body {
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

main.page {
    width: 210mm;
    height: 296mm;
    background: white;
}


@media print {
    body {
        padding: 0;
        margin: 0;
    }
    main.page {
        page-break-inside: avoid;
        background: white;
    }
}

@page {
    size: A4;
}
