body {
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    color: #202020;
}
section {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
p {
    text-align: justify;
    font-size: small;
    margin: 0;
}

main.page {
    width: 210mm;
    height: 296mm;
    background: white;
    display: grid;
    grid-template:
            ". .... . ..... ." 1.9cm
            ". left . right ." 1fr
            ". .... . ..... ." 2.5cm / 1.9cm 1fr 55px 2fr 1.32cm;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100;
}
.left {
    grid-area: left;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
.left .info {
    width: 93%;
}

.right {
    grid-area: right;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
.right .info {
    width: 93%;
}
h1 {
    font-weight: 100;
    padding: 0;
    margin: 0;
    margin-block-end: 1px;
    font-size: 2rem;
}
h1.last-name {
    line-height: 1.1rem;
    letter-spacing: 2px;
    padding-bottom: 9px;
    font-weight: 500;
}
h1.first-name {
    text-transform: uppercase;
    font-size: 1.7rem;
}

h2.profession {
    letter-spacing: 3.5px;
    font-weight: 600;
    font-size: 0.8em;
    color: #004684;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
h3 {
    margin: 0;
    margin-block-end: 1px;
    font-weight: 100;
}
header.lined {
    background-image: url(src/line.svg);
    background-size: contain;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    white-space: nowrap;
}
header.lined h3, header.lined h1 {
    width: fit-content;
    background: white;
    padding: 0 15px;
}

.header-icon.fas, .header-icon.far {
    border: black 1px solid;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.contact .info {
    display: grid;
    grid-template: 1fr 1fr / 15px 1fr;
    align-self: flex-end;
    align-items: center;
    grid-row-gap: 7px;
    grid-column-gap: 20px;
    padding-top: 15px;
    font-size: small;
}
.aboutme .info {
    padding-top: 8px;
}
.image-border {
    width: 200px;
    height: 200px;
    border: grey 2px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.image img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0;
    border-radius: 100%;
    border: grey solid 2px;
    padding: 0;
    box-sizing: border-box;
}

.name-and-profession {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.name-and-profession .lined {
    margin-top: 0;
}
.languages .info {
    display: flex;
    flex-flow: column;
}

.languages .info .language-element{
    display: grid;
    grid-template:
            "lang-1-imag lang-1-desc" 1fr / 60px 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

.languages .info .country-flag {
    width: 30px;
    filter: grayscale(10%);
}

.languages .info .language-details {
    display: grid;
    grid-template:
        "lang levl" auto
        "type type" auto / 2fr 1fr;
    height: 100%;
    align-content: space-around;
}
.language-details .lang {
    grid-area: lang;
}
.language-details .level {
    grid-area: levl;
    text-align: right;
}
.language-details .type {
    grid-area: type;
    font-size: small;
}
.exerience-element {
    width: 100%;
    display: grid;
    grid-template:
        "titl titl .... intv" auto
        ".... orgn .... intv" auto
        ".... desc desc desc" auto / 8px auto 10px min-content;
    align-items: center;
    grid-row-gap: 3px;
    padding-top: 10px;
}
.organization {
    grid-area: orgn;
    font-weight: 300;
    font-size: 18px;
}
.interval {
    grid-area: intv;
    font-size: small;
    text-align: right;
    white-space: nowrap;
    display: flex;
    gap: 10px;
    align-items: center;
}
.interval .end {
    text-align: left;
}

.job-title {
    grid-area: titl;
    font-weight: 400;
    font-size: 1.3rem;
}
.description {
    grid-area: desc;
    font-size: 10px;
}
.description p {
    font-size: 10px;
}
h3 {
    font-size: 1.6rem;
}

.exerience-element .description .skills {
    display: grid;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    align-items: center;
    grid-row-gap: 10px;
    margin-top: 10px;
    grid-template-columns: 55px auto;
}

.exerience-element .description .skills * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: auto;
    text-align: center;
}

.exerience-element .description .skills img {
    height: 15px;
    filter: grayscale(30%);
}
.exerience-element .description .skills i {
    font-size: 15px;
}
.exerience-element .description .skills .label {
    grid-row: 2 span;
    text-align: left;
    border-right: solid 1px grey;
    padding-right: 5px;
    height: 100%;
}

.skills .info {
    padding-top: 20px;
}

.skills .info ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, 180px);
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    grid-row-gap: 10px;
}
.skills .info ul li {
    display: grid;
    grid-template:
        "titl circ" min-content
        "desc desc" auto / 1fr auto;
    align-items: center;
    grid-row-gap: 5px;
}

.skills .info ul li .circle-border {
    grid-area: circ;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skills .info ul li .circle-border img {
    height: 100%;
    position: absolute;
}
.skills .info ul li .description {
    grid-area: desc;
    align-self: flex-start;
}
.skills .info ul li .title {
    grid-area: titl;
    font-weight: 400;
    font-size: 1.1rem;
}

.skills .circle {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


@media print {
    body {
        padding: 0;
        margin: 0;
    }
    main.page {
        page-break-inside: avoid;
        background: white;
    }
}

@page {
    size: A4;
}
